
1.4/Textures/Things/Item/Drug/Nutrient_Bar/Nutrient_Bar_a.dds
1.4/Textures/Things/Item/Drug/Nutrient_Bar/Nutrient_Bar_b.dds
1.4/Textures/Things/Item/Drug/Nutrient_Bar/Nutrient_Bar_c.dds
1.4/Textures/Things/Item/Drug/Nutrient_Bar/Nutrient_Bar_d.dds
1.4/Textures/Things/Item/Drug/Nutrient_Bar_Blank/Nutrient_Bar_Blank_a.dds
1.4/Textures/Things/Item/Drug/Nutrient_Bar_Blank/Nutrient_Bar_Blank_b.dds
1.4/Textures/Things/Item/Drug/Nutrient_Bar_Blank/Nutrient_Bar_Blank_c.dds
1.4/Textures/Things/Item/Drug/Nutrient_Bar_Blank/Nutrient_Bar_Blank_d.dds
1.4/Textures/Things/Item/Drug/Nutrient_Bar_Hemogen/Nutrient_Bar_Hemogen_a.dds
1.4/Textures/Things/Item/Drug/Nutrient_Bar_Hemogen/Nutrient_Bar_Hemogen_b.dds
1.4/Textures/Things/Item/Drug/Nutrient_Bar_Hemogen/Nutrient_Bar_Hemogen_c.dds
1.4/Textures/Things/Item/Drug/Nutrient_Bar_Hemogen/Nutrient_Bar_Hemogen_d.dds
1.4/Textures/Things/Item/Drug/Nutrient_Bar_Luciferium/Nutrient_Bar_Luciferium_a.dds
1.4/Textures/Things/Item/Drug/Nutrient_Bar_Luciferium/Nutrient_Bar_Luciferium_b.dds
1.4/Textures/Things/Item/Drug/Nutrient_Bar_Luciferium/Nutrient_Bar_Luciferium_c.dds
1.4/Textures/Things/Item/Drug/Nutrient_Bar_Luciferium/Nutrient_Bar_Luciferium_d.dds
1.4/Textures/Things/Item/Drug/Nutrient_Bar_OLD.dds
1.4/Textures/Things/Item/Drug/Nutrient_Block.dds
1.4/Textures/Things/Item/Drug/Nutrient_Block_OLD.dds
